
<div>
	
	<div
		class="title-wrapper title-wrapper--no-top-margin">
		<h2 class="title inline-richtext ">Headinh 2</h2>
	</div>

</div>

{% schema %}
{
	"name": "Section test",
		"settings": [
			{
				"type": "checkbox",
				"id": "show_soldout",
				"label": "Show sold out products",
				"default": "false"
			}
		]
}
{% endschema %}